.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-brand {
    color: #71544f;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #71544f;
}
.navbar-default .navbar-nav > li > a {
    color: #71544f;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #71544f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #71544f;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #71544f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #71544f;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #71544f;
}
.navbar-default .navbar-link {
    color: #71544f;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #71544f;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #71544f;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #71544f;
}



/*For green header on every page */

.header-section{
	height: 150px;
}
.headerbox {
	height: 80px;
	display: block;
}

#headerwrap {
	background-color: rgba(92,184,92, 1);
	border-radius: 50px;
	width: 350px;
	height: 100%;
	margin: auto;
}

#headerwrap h1 {
	vertical-align: middle;
	text-align: center;
	line-height: 75px;
}



.parallax-window {
    min-height: 450px;
    background: transparent;
}


/* Home Landing page */

.contentbox {
	margin-top: 30px;
}

.aboutus {
	padding: 20px;
}


#overage {
	width: 200px;
	margin: 0 auto;
}

#overage button{
	bottom: -40px;
	margin: 0 auto;
	border-radius: 10px;
}

#buttondiv {
	margin-bottom: 50px;
}

.map-location {
	padding-top: 20px;
}

/* Footer */

.footer {
	background-color: #ffffff;
    border-color: #ffffff;
    color: #71544f;
    padding: 30px;
    margin-top: 20px;
}

.footerbar {
	margin: 0 auto;
}

.footerbar address {
	color: #71544f;
	opacity: 0.7;
}

.socialmedialinks {

}

.socialmedialinks ul {
	list-style: none;
	display: inline;
}

.socialmedialinks a i {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	color: #71544f;
	font-size: 30px;
	line-height: 50px;

}

.socialmedialinks a:hover i{
	color: rgb(92,184,92);
}


/* Contact Form */

#contactwrap {
	background-color: rgba(135, 135, 135, 0.2);
	padding: 40px 20px;
	color: #71544f;
	margin-bottom: 70px;
}

#contactUs {
	margin-bottom: 25px;
}

#submitbtn {
	margin-top: 30px;
}

#submitbtn button {
	border-radius: 5px;
}

/* location css */
/*style sheets locations*/

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.loc-header {
    background-color: transparent;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.location-box {
	padding-top: 25px;
	padding-bottom: 50px;
}

.location-box h2 {
	text-align: center;
	padding-top: 0;
}
.location-box h3 {

}

.loc-lu {
    list-style-type: none;
    line-height: 200%;
}

.text-location {
	line-height: 150%;
}
.info-location {

}
.map-location {
    padding-top: 15px;
}





