.navbar-default {
	background-color: #ffffff;
	border-color: #ffffff;
}
.navbar-default .navbar-brand {
	color: #71544f;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #71544f;
}
.navbar-default .navbar-nav > li > a {
	color: #71544f;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #71544f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #71544f;
}
.navbar-default .navbar-toggle {
	border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #71544f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #71544f;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #71544f;
}
.navbar-default .navbar-link {
	color: #71544f;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: #71544f;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #71544f;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #ffffff;
	background-color: #71544f;
}

/*style sheets locations*/

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.loc-header {
    background-color: transparent;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.location-box {
	padding-top: 25px;
	padding-bottom: 50px;
}

.location-box h2 {
	text-align: center;
	padding-top: 0;
}
.location-box h3 {

}

.loc-lu {
    list-style-type: none;
    line-height: 200%;
}

.text-location {
	line-height: 150%;
}
.info-location {

}
.map-location {
    padding-top: 15px;
}



